body {
  background: beige
}
.flag{
    margin: 1em;
    height: 150px;
    width: 200px;	
    float: left;
    border:12px solid rgb(243, 229, 233);
}
.french {
  background-color: white;
  position: relative;
}

.french::before {
  content: "";
  width: 33.33%;
  height: 100%;
  position: absolute;
  background-color: #0055A4;
  top: 0;
  left: 0; 
}
.french::after {
  content: "";
  width: 33.33%;
  height: 100%;
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
 }
 .german {
  background-color:red;
  position: relative;
}
.german::before {
  content: "";
  width: 100%;
  height: 33%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0; 
}
.german::after{
  content: "";
  width: 100%;
  height: 33%;
  position: absolute;
  background-color: yellow;
  bottom: 0;
  right: 0;
}
.madagascar {
  background-color:white;
  position: relative;
}
.madagascar::before{
  content: "";
  width: 75%;
  height: 50%;
  position: absolute;
  background-color: red;
  top: 0;
  right: 0; 
}
.madagascar::after{
  content: "";
  width: 75%;
  height: 50%;
  position: absolute;
  background-color:green;
  bottom: 0;
  right: 0;
}
.swiss {
  background: red;
  position: relative;
  }
  .swiss:before {
    height: 80px;
    width: 30px;
    left: 85px;
    top: 35px;
    content: "";
    position: absolute;
    background: white;
  }
  .swiss:after {
    width: 80px;
    height: 30px;
    left: 60px;   
    top: 60px; 
    content: "";
    position: absolute;
    background: white;
  }
  .sweden{
    background-color:blue;
    position: relative;
  }
  .sweden::before {
    background-color: rgb(255, 217, 0);
    content: "";
    width: 100%;
    height: 13%;
    position: absolute;
    top: 45%;
    left: 0; 
    display: flex;
  }
  .sweden::after {
    content: "";
    width: 13%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 217, 0);
    top: 0;
    right: 60%;
    display: flex;
  }
  .gambia {
  background:linear-gradient(180deg,#ce1126 30%,#fff 0,#fff 35%,#0c1c8c 0,#0c1c8c 65%,#fff 0,#fff 70%,#3a7728 0)
}

  .belgium {
    background-color:yellow;
    position: relative;
}
.belgium::before {
  content: "";
  width: 33.33%;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0; 
}
.belgium::after {
  content: "";
  width: 33.33%;
  height: 100%;
  position: absolute;
  background-color:red;
  top: 0;
  right: 0; 
}
    
 .tonga{
      background-color:#c10000;
      position: relative;
    }
.tonga:before{
  position:absolute;
  content:"";
  width:50%;
  height:50%;
  background:linear-gradient(180deg,transparent 33.33333%,#c10000 33.33333%,#c10000 66.66667%,transparent 0),linear-gradient(90deg,transparent 33.33333%,#c10000 33.33333%,#c10000 66.66667%,transparent 0),#fff;
  background-size:40px 40px;
  background-repeat:no-repeat;
  background-position:50% 10px;
}
.japan{
  background-color:white;
  position: relative;
}
.japan::before{
  width: 100px;
  height: 100px;
  content:"";
  background:#c10000;
  border-radius: 50%;
  position: absolute;
  left: 50px;   
  top: 25px;
}
.greece{
  background-image:repeating-linear-gradient(180deg,#0d5eaf,#0d5eaf 13.33333px,#fff 13.33333px,#fff 26.66667px);
  position: relative;
}
.greece:before{
  position:absolute;
  content:"";
  width:66.66667px;
  height:66.66667px;
  background:linear-gradient(180deg,transparent 26.66667px,#fff 26.66667px,#fff 40px,transparent 40px),linear-gradient(90deg,transparent 26.66667px,#fff 26.66667px,#fff 40px,transparent 40px),#0d5eaf;
}
/*.niger{
  background-color:white;
  position: relative;
}
.niger::before {
  content: "";
  width: 100%;
  height: 33.33%;
  position: absolute;
  background-color:#e05206;
  top: 0;
  left: 0; 
} 
.niger::after{
  content: "";
  width: 100%;
  height: 33.33%;
  position: absolute;
  background-color: green;
  bottom: 0;
  right: 0;
}*/
.niger{
background:radial-gradient(50px at 50% 50%,#e05206 0,#e05206 35%,transparent 0,transparent 100%),linear-gradient(180deg,#e05206 33.33333%,#fff 33.33333%,#fff 66.66667%,#0db02b 66.66667%)
}
/*.maldives{
  background-color:#c10000;
  position: relative;
}
.maldives::before {
  width: 100px;
  height: 60px;
  left: 50px;   
  top: 45px; 
  content: "";
  position: absolute;
  background: #3a7728;
}
.maldives::after{
content: "";
width: 100px;
height: 100px;
border-radius: 50%;
box-shadow: 45px 45px 0 0 white;
}*/

.maldives{
  background-color:#c10000;
  position: relative;
}
.maldives::before {
  width: 100px;
  height: 60px;
  left: 50px;   
  top: 45px; 
  content: "";
  position: absolute;
  background:radial-gradient(55px at 55% 50%,#007e3a 0,#007e3a 35%,transparent 0,transparent 100%),radial-gradient(60px at 50% 50%,#fff 0,#fff 35%,transparent 0,transparent 100%),#007e3a;
}
.belize{
  background-color:#1d00c1;
  position: relative;
}
.belize::before {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: rgb(190, 26, 26);
  top: 0;
  left: 0; 
}
.belize::after{
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: rgb(190, 26, 26);
  bottom: 0;
  right: 0;
}













    
  



    
    