a {
    text-decoration: none;
}
.uppercase {
 text-transform: uppercase;
 clear: left;

}
img {
    float: left;
  }
/* mouse over link */
a:hover {
    text-decoration: underline;
    color: red;
  }
.b {
    clear: left;
    margin-top: 150px;
    font-size: 120%;
  }
