section{
    background-color: #111111;
}
h1{
    color: #E2E80F;
    font-size: xx-large;
    text-align: center;
    font-family: Algerian;
}
p{
    color:#eeeeee;
    font-size: larger;
    line-height: 1.8;   
}
/* mouse over link */
.credits:hover {
    color: red ;
    text-decoration: underline;
}
#film-description{
    font-size: smaller;
    font-style: italic;
}
