/*body {
    background-color:#A4F6B9
}
.header {
    background-color:#A4B
}
.ski-gear {
    background-color: rgba(55,100,255,1);
    font-family: Arial, Helvetica, sans-serif;
}*/

html, body {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
img {
    display: block;
    height: 175px;
    width: 175px;
}
p{
    display: inline-block;
    width:45%
}
h1 {
    display: none;
}