 /*html, body {
    margin: 0;
    padding: 0;
    
}
.coffee {
   position: relative;
    left: 55px;
   position:  absolute;
   left: 50px;
   top: 405px;
   position: fixed;
   left: 55px;
    width: 425px;
    border: 2px solid red;
    
}
.decaf {
    height: 400px;
    width: 555px;
    border: 2px solid blue;
}
.nav-bar {
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color: rgb(55,44,22,.4);
}
.about {
   
}
.menu {
}*/
html, body {
    margin: 0;
    padding: 0;
    
}
.coffee {
    width: 425px;
    border: 2px solid red;
    
}
.decaf {
    height: 400px;
    width: 555px;
    border: 2px solid blue;
}
.nav-bar {
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color: rgb(55,44,22,.4);
}
.about {
    position: relative;
    left: 315px;
   
}
.menu {
    position: relative;
    left: 150px;
}
